@charset "utf-8";
@use "sass:map";
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma/sass/layout/footer.sass";
@import "../../node_modules/bulma/sass/helpers/flexbox.sass";
@import "../../node_modules/bulma/sass/helpers/color.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";
@import "../../node_modules/@fontsource/montserrat/index.css";
@import "../../node_modules/@fontsource/montserrat/700.css";

$layout:("xs-mobile": 320px, "mobile": 375px, "tablet": 768px, "laptop": 992px, "desktop": 1440px);
$primary-color:("light":hsl(236, 72%, 79%), "dark": hsl(237, 63%, 64%));
$neutral-color:("very-light-grayish-blue": hsl(240, 78%, 98%),
                "light-grayish-blue": hsl(234, 14%, 74%),
                "grayish-blue": hsl(233, 13%, 49%),
                "dark-grayish-blue": hsl(232, 13%, 33%));
$font:("size-15": 15px, "family-montserrat": "Montserrat", "weight-700": 700);

* {
    padding: 0px;
    margin: 0px;
}

html {
    background-color: map.get($neutral-color, "very-light-grayish-blue");  
}

body {
    font-size: map.get($font, "size-15");
    font-family: (map.get($font, "family-montserrat"), sans-serif);
    font-weight: map.get($font, "weight-700");
}

.card-highlight {
    background-color: map.get($primary-color, "dark");
    background-image: linear-gradient(to bottom, 
                                    map.get($primary-color, "light"), 
                                    map.get($primary-color, "dark"));
    height: 35rem;
    padding-top: 2rem;

    h2, ul li, ul li span{
        color: map.get($neutral-color, "very-light-grayish-blue");
    }

    a {
        background-color: map.get($neutral-color, "very-light-grayish-blue");
        color: map.get($primary-color, "dark");
    }
}

.card-default {
    background-color: map.get($neutral-color, "very-light-grayish-blue");
    margin-top: 2rem;

    h2, ul li {
        color: map.get($neutral-color, "grayish-blue");
    }

    a {
        color: map.get($neutral-color, "very-light-grayish-blue");
        background-color: map.get($primary-color, "dark");
        background-image: linear-gradient(to left, 
                                    map.get($primary-color, "dark"), 
                                    map.get($primary-color, "light"));
    }
}

.price {
    font-size: 5rem;

    &.price-default {
        color: map.get($neutral-color, "dark-grayish-blue");
    }

    &.price-highlight {
        color: map.get($neutral-color, "very-light-grayish-blue");
    }

    &.dollar {
        font-size: 2.5rem;
        vertical-align: 0.9rem;
        margin-right: .5rem;
    }
}

.container {
    padding: 4rem 4rem;

    &.has-background-purple-light {
        background-color: hsl(240, 100, 98);
    }

    &.shadow {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.05);
    }
}

div.mt-mobile {
    margin-top: 2rem;
}

.content {
    h1, span {
        color: map.get($neutral-color, "grayish-blue");
    }

    ul {
        list-style: none;
        margin: 0;
    }
    
    ul li {
        border-bottom: 1px solid hsl(0, 0%, 90%);
        padding:  1rem 1rem 1rem 0;
    }

    footer.card-footer{
        max-width: 90%;
    }
}

@media only screen and (max-width: map.get($layout, "xs-mobile")),
only screen and (max-width: map.get($layout, "mobile")),
only screen and (max-width: map.get($layout, "tablet")) {
    .container {
        padding: 1rem 1rem;
    }

    div.mt-mobile {
        margin-top: 0;   
    }

    .card-highlight {
        height: auto;
        padding-top: 0;
    }

    .card-default {
        margin-top: auto;
    }
}

@media only screen and (max-width: map.get($layout, "xs-mobile")) {
    .price {
        font-size: 3.5rem;
    
        &.dollar {
            font-size: 2rem;
            vertical-align: 0.5rem;
        }
    }
}

@media only screen and (min-width: 321px) and (max-width: map.get($layout, "mobile")) {
    .price {
        font-size: 4rem;
    
        &.dollar {
            font-size: 2.5rem;
            vertical-align: 0.5rem;
        }
    }
}

@media screen and (min-width: map.get($layout, "mobile")) and (max-width: map.get($layout, "tablet")) {
    .price {
        font-size: 4.5rem;
    
        &.dollar {
            font-size: 2.8rem;
            vertical-align: 0.5rem;
        }
    }
}

@media only screen and (min-width: map.get($layout, "tablet")) and (max-width: map.get($layout, "laptop")),
only screen and (min-width: map.get($layout, "laptop")){
    .container {
        padding: 2rem 2rem;
    }

    .price {
        font-size: 4rem;
    
        &.dollar {
            font-size: 2.5rem;
            vertical-align: 0.5rem;
        }
    }
}

@media only screen and (min-width: map.get($layout, "desktop")){
}